body {background-color: black;
    }

     ul {list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }

        li { display: inline;
            font-family: sans-serif;
            color: aliceblue;}
            
            li a {text-align: center;
                padding: 14px 19px;
                text-decoration: none;
                background-color: black}
            
                    li a:hover {background-color: dimgray;}
.button {
    background-color:white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
        #Program {font-family: sans-serif;
            font-size: 60px;
            color:  white;
            }
        
        #main{margin: 90px;
            }
        
    #Malik {font-family: sans-serif;
            font-size: 60px;
            color: white}

p {text-align: center; 
    font-family: sans-serif;
    font-size: 25px;
    margin: 80px;
    color: white}

        p:hover {background-color: white;}

#Brandon {font-family: sans-serif;
        font-size:60px;
        color: white;}

    #Dallas {font-family: sans-serif;
            font-size: 60px;
            color: white;}

        #Khari {font-family: sans-serif;
            font-size: 60px;
            color: white;}