body {background-color: black;
    }

     ul {list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }

        li { display: inline;
            font-family: sans-serif;
            color: white;}
            
            li a {text-align: center;
                padding: 14px 19px;
                text-decoration: none;
                background-color: black}
            
                    li a:hover {background-color: dimgray;}
.button {
    background-color:white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#hiv {font-family: sans-serif;
    font-size: 60px;
    color: white;
    }

#Hblock {margin: 90px;
        }

    #info1 {font-family: sans-serif;
            font-size: 25px;
            color: white;
            float: right;
            margin: 100px
            }

    